{% extends "hmp2/homepage-base.html" %}
{% load i18n %}

{% block main %}
{% blocktrans %}
<div class="row">
  <div class="page-header">
    <h1>The Inflammatory Bowel Disease Multi'omics Database</h1>
  </div>
  <div style="float: right; margin-left: 20px;">
    <img src="/static/media/uploads/Images/gever_2012_b.png"
	 alt="microbiome 2012 cover 'reflection'" />
    <p style="font-size:8px; margin-left: 20px;" align="bottom"> Image
      used with permission: <a href="http://www.broadinstitute.org">
	The Broad Institute.</a> Illustration
      by <a href="http://www.graphiko.com"> Steven H. Lee </a>
    </p>
  </div>
  
  <div style="text-align: justify; text-justify: inter-word;">
    <p>The cells of the human body are outnumbered ten to one by bacteria,
      but large-scale surveys of the human microbiome were not feasible
      until the advent of next-generation sequencing. The first stage of the
      Human Microbiome Project sampled 300 healthy subjects to determine
      normal microbial composition of healthy Americans (which microbial
      species were there), their biochemical function (what the microbes
      were doing), and microbial variation both between individuals and over
      time. Now that we have determined the healthy human microbiome, the
      next stage of the Human Microbiome Project is to understand how the
      microbiome changes in and contributes toward disease.</p>

    <p>Inflammatory bowel disease (IBD), which includes both Crohn's
      Disease (CD) and ulcerative colitis (UC), affects approximately 1.5
      million Americans and is one of the most-studied imbalances between
      microbes and the immune system. Genetic and environmental risk factors
      exist that are associated with IBD, however they are inadequate to
      explain the dramatic (more than 400%) increase in IBD over the past 50
      years. Rather, a comprehensive body of evidence has linked IBD to the
      gut microbiota (the bacteria, viruses, archaea, and fungi resident in
      the gut). In contrast to traditional disease models, no single
      pathogen seems to cause IBD. Rather, many studies have found an
      association between IBD and an overall disrupted gut ecology and
      decrease in diversity.</p>

    <p>The IBDMDB will provide an integrated resource for analyzing the
      gut microbial ecosystem in the context of IBD, improving our ability
      to understand, diagnose, and treat IBD. It will use several existing,
      well-described patient cohorts to provide many different types of
      longitudinal data. By integrating taxonomic, metagenomic,
      metatranscriptomic, metaproteomic, and metabolic data on the
      microbiome, we can follow over time which microbial species are
      present, which biochemical functions they are capable of performing,
      which functions they are actually performing at any given point in
      time, and which nutrients are available to the host and microbial
      community. In addition, in order to better understand how the microbes
      are interacting with their hosts, the IBDMDB will profile host
      genetics, epigenetics (DNA modification), and gene expression. A total
      of 90 subjects will be profiled for one year, and the data will be
      made publicly available. The IBDMDB project will validate and share
      both its sample collection protocols and its bioinformatic methods,
      allowing the scientific community to greatly increase its
      understanding of interactions between microbes and their hosts in
      IBD. Please contact us as needed for more information.</p>
  </div>
</div>



</div>

{% endblocktrans %}
{% endblock %}
